.card {
    margin-left: 10px;
}

table,
th,
td {
    border: 1px solid blue;
    border-collapse: collapse;
}

#progress {
    margin: 2px;
    width: 200px;
    height: 15px;
    background-color: lightgray;
    margin-left: 10px;
}

#progressbar {
    width: 50%;
    height: 10px;
    background-color: blue;
    margin-left: 10px;
}