.card {
    margin-left: 1px;
}

table,
th,
td {
    border: 1px solid blue;
    border-collapse: collapse;
}

.jumbotron {
    margin: 0px;
    padding: 0px;
    color: blue;
}

#title {
    margin: 5px;
    padding: 5px;
    background-color: none;
}

#progress {
    margin: 2px;
    width: 200px;
    height: 15px;
    background-color: lightgray;
    margin-left: 10px;
}

#progressbar {
    width: 50%;
    height: 10px;
    background-color: blue;
    margin-left: 10px;
}