.jumbotron {
    margin: 0px;
    padding: 0px;
    color: blue;
}

#progressbar {
    height: 15px;
    width: 100%;
}

.card {
    padding: 1px;
    margin: 1px;
}

.card-header {
    padding: 0px;
    margin: 0px;
}

.card-body {
    padding: 0px;
    margin: 0px;
}

.row {
    padding: 0 !important;
}

[class*="col-"] {
    padding: 0px !important;
}